<section class="text-gray-600 body-font ">
  <div class="container px-5 py-3 mx-auto flex flex-wrap justify-center items-center">

    <div class="lg:w-96 md:w-52 sm:w-full md:pr-0 lg:pr-0 pr-0 text-center mb-10">
      <img src="img/businesswoman.jpg" alt="Imagen sobre finanzas" class="grayscale hide-on-small">
    </div>

    <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-3 flex flex-col md:ml-20 w-full mt-10 md:mt-0">

      <h2 class="text-center text-gray-900 text-2xl font-medium title-font mb-5 ">Iniciar Sesión</h2>

      <div class="flex items-center mb-4 ">
        <div class="bg-gray-200 p-2 rounded-l border border-gray-300">
          <i class="fa-solid fa-at text-black w-full "></i>
        </div>
        <input type="email" id="email" name="email" class="w-full h-11 bg-white rounded-r border-t border-r border-b border-gray-300 
              focus:border-red-500 focus:ring-2 focus:ring-red-200 
               text-base outline-none text-gray-700 pl-3 py-2 leading-8 transition-colors duration-200 ease-in-out"
          placeholder="Usuario o Correo" aria-label="Email">
      </div>

      <div class="flex items-center mb-4 w-full">
        <div class="bg-gray-200 p-2 rounded-l border border-gray-300">
          <i class="fa-solid fa-unlock-keyhole text-black w-full "></i>
        </div>
        <input type="password" id="password" name="password" class="w-full h-11 bg-white rounded-r border-t border-r border-b border-gray-300 
              focus:border-red-500 focus:ring-2 focus:ring-red-200 
               text-base outline-none text-gray-700 pl-3 py-2 leading-8 transition-colors duration-200 ease-in-out"
          placeholder="Contraseña" aria-label="password">
      </div>


      <button class="text-white bg-red-800 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded-xl text-lg">
        Aceptar
      </button>
      <a href="#" class="text-xs text-gray-500 mt-3 text-center"> He olvidado mi contraseña</a>

      <div class="flex items-center mb-4">
        <div class="w-full border-b border-gray-300 my-1"></div>
        <div class="mx-4 text-gray-600">0</div>
        <div class="w-full border-b border-gray-300 my-1"></div>
      </div>

      <button class="text-black bg-white border-2 border-red-800 py-2 px-8 focus:outline-none 
        hover:text-white hover:bg-red-700 rounded-2xl text-lg mb-4 responsive-button">
        <i class="fa-brands fa-facebook"></i>
        Iniciar con Facebook
      </button>

      <button class="text-black bg-white border-2 border-red-800 py-2 px-8 focus:outline-none 
        hover:text-white hover:bg-red-700 rounded-2xl text-lg responsive-button">
        <i class="fa-brands fa-google"></i>
        Iniciar con Google
      </button>

      <p class="text-xs text-gray-500 my-3 text-center"> Al continuar, aceptas nuestros términos de servicio.</p>


      <button class="text-black bg-white border-2 border-red-800 py-2 px-8 focus:outline-none 
        hover:text-white hover:bg-red-700 rounded-2xl text-lg responsive-button">
        Registrarse
      </button>



    </div>

  </div>
</section>