
@media (max-width: 769px){
    .hide-on-small {
        display: none;
    }
    

    .responsive-button {
        font-size: 0.875rem;
    }

    .responsive-button-facebook::after{
        content: "Iniciar con Facebbo";
    }
}
