<mat-list>
    <div mat-subheader>SiGef</div>
    @for (link of links; track link) {
    <mat-nav-list>
        <a mat-list-item [routerLink]="link.url">
            <i matListItemIcon class="fa-solid" [ngClass]="link.icon"></i>
            <div matListItemTitle>{{link.title}}</div>
        </a>
    </mat-nav-list>
    }
    <mat-divider></mat-divider>
    <div mat-subheader>Recordatorios</div>
    @for (note of notes; track note) {
    <mat-list-item>
        <mat-icon matListItemIcon>note</mat-icon>
        <div matListItemTitle>{{note.name}}</div>
        <div matListItemLine>{{note.updated | date}}</div>
    </mat-list-item>
    }
</mat-list>