<form [formGroup]="subcatForm">
    <div class="container px-5 py-3 mx-auto flex flex-wrap justify-center items-center">
        <div class="bg-gray-100 rounded-lg p-3 flex flex-col  md:mt-0">
            <div class="flex flex-col justify-center">
                <h2 class="text-center text-gray-900 text-xl font-medium title-font mb-5 font-primary">
                    <ea-portal-content name="header-title">
                        Subcategorías
                    </ea-portal-content>
                </h2>
                <div class="input-special flex flex-row mb-4 select-id">
                    <label for="parentCategories" class="text-sm font-semibold text-gray-700">
                        Categoría Principal
                    </label>
                    <select name="parentCategories" id="parentCategories" class="input-special py-3"
                        formControlName="fo_category">
                        <option value="">Seleccione una categoría</option>

                        @for (category of categories(); track category) {
                        <option [value]="category.id_category">{{category.category_name}}</option>
                        }
                    </select>
                </div>

                <div class="input-special flex flex-col mb-4">
                    <label for="subcategory_name" class="text-sm font-semibold text-gray-700">Nombre</label>
                    <input parentCategories="text" id="subcategory_name" name="subcategory_name"
                        placeholder="Nombre de la subcategoría" aria-label="" formControlName="subcategory_name">
                </div>
            </div>
            <div class="flex justify-center flex-row gap-5">
                <button (click)="add()" [disabled]="!subcatForm.valid" class="secundary-button-main">
                    Guardar
                </button>
                <button class="secundary-button" mat-dialog-close>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</form>