<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <div class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="/img/consulting.jpg">
                </div>
                <div class="mt-4 item">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Consultoría</h3>
                    <p class="text-gray-900 text-medium font-medium">
                        Servicios de consultoría para mejorar los
                        procesos financieros basados en la información recopilada y analizada por el software.
                        /p>
                    <div class="flex justify-center">
                        <a routerLink="/support"> <button class="secundary-button">Contáctenos</button></a>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="/img/software-developer.jpg">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Software a Medida</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Creación de un software a medida, adaptado
                        a las necesidades del cultivo de rosas y sus operaciones financieras.</h2>
                    <div class="flex justify-center">
                        <a routerLink="/support"> <button class="secundary-button">Contáctenos</button></a>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/support2.jpg">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Mantenimiento</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Garantía de actualizaciones periódicas del
                        software, así como mantenimiento preventivo y correctivo adaptado al sector de cultivo de rosas.
                    </h2>
                    <div class="flex justify-center">
                        <a routerLink="/support"> <button class="secundary-button">Contáctenos</button></a>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="/img/education.jpg">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Educación</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Formación detallada para los usuarios
                        finales, enfocada en el uso eficiente del software y sus funcionalidades aplicadas al cultivo de
                        rosas.</h2>
                    <div class="flex justify-center">
                        <a routerLink="/support"> <button class="secundary-button">Contáctenos</button></a>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="/img/analysis2.jpg">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Consultoria</h3>
                    <p class="text-gray-900 text-medium font-medium">
                        Ayuda en la interpretación de los datos
                        financieros generados por el software, así como la generación de informes específicos para la
                        gestión del cultivo de rosas.</p>
                    <div class="flex justify-center">
                        <a routerLink="/support"> <button class="secundary-button">Contáctenos</button></a>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/support.jpg">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Software a Medida</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Instalación y configuración del software en
                        las instalaciones del cliente, adaptándolo a sus procesos y requisitos específicos.</h2>
                    <div class="flex justify-center">
                        <a routerLink="/support"> <button class="secundary-button">Contáctenos</button></a>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/img/analysis.jpg">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Educación</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Implementación de herramientas para el
                        seguimiento y análisis de datos.</h2>
                    <div class="flex justify-center">
                        <a routerLink="/support"> <button class="secundary-button">Contáctenos</button></a>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                        src="/img/movil-web.jpg">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Software a Medida</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">Extensión de las funcionalidades de la
                        aplicación web a plataformas móviles.</h2>
                    <div class="flex justify-center">
                        <a routerLink="/support"> <button class="secundary-button">Contáctenos</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>