.sidenav-container {
  width: 100%;
  max-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
}

.sidenav-toggle {
  display: flex;
  max-height: 100vh;
  align-items: center;
}

.toggle-button {
  color: #a40707;
}
.sidenav-links {
  padding: 20px;
}
