.a-reports {
    @apply w-full sm:w-auto bg-gray-100 hover:bg-red-300 border-2 border-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 text-black rounded-lg inline-flex items-center justify-center px-4 py-2.5 mx-2 dark:bg-gray-800 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-red-800;

}
.flex {
    display: flex;
    flex-direction: row; 
  }
  
  @media (max-width: 1024px) { 
    .flex {
      flex-direction: column; 
    }
  }

@media print {

    button,
    mat-form-field,
    mat-icon {
        display: none;
    }
}