.left-bar-options,
[ea-right-sidebar] {
    background-color: lightgray;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

[routerLink] {
    cursor: pointer !important;

    &:hover{
        background-color: rgb(216, 143, 139);
    }
}