<mat-list>
    <div mat-subheader>Acciones</div>
    @for (link of links; track link) {
    <mat-nav-list>
        <a mat-list-item class="item-list" [routerLink]="link.url">
            <i matListItemIcon class="fa-solid" [ngClass]="link.icon"></i>
            <div matListItemTitle>{{link.title}}</div>
        </a>
    </mat-nav-list>
    }

    <div matBadge="4" matBadgeSize="large" class="demo-section">
        <mat-nav-list>
            <a mat-list-item class="item-list" routerLink='/portal/alert'>
                <i matListItemIcon class="fa-solid fa-bell"></i>
                <div matListItemTitle>Notificaciones</div>
            </a>
        </mat-nav-list>
    </div>
    <mat-divider></mat-divider>
    <div mat-subheader>Recordatorios</div>
    @for (note of notes; track note) {
    <mat-list-item class="item-list">
        <mat-icon matListItemIcon>note</mat-icon>
        <div matListItemTitle>{{note.name}}</div>
        <div matListItemLine>{{note.updated | date}}</div>
    </mat-list-item>
    }
</mat-list>