<div class="dark:bg-gray-900 w-full h-full">
    <div class="flex justify-center pt-2">
        <h2 class="text-2xl font-bold mb-4 font-primary dark:text-white ju">
            <ea-portal-content name="header-title">
                Ingresos
            </ea-portal-content>
        </h2>
    </div>
    <a routerLink="/portal/register-income" routerLinkActive="router-link-active">
        <button class="text-green-700 px-2 secundary-button mx-5">
            <i class="fa-solid fa-circle-plus mr-2"> </i>
            Agregar
        </button>
    </a>
    <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input class="bg-white" matInput (keyup)="applyFilter($event)" placeholder="Venta Mondial" #input>
    </mat-form-field>

    <div class="flex justify-center flex-wrap mx-5 ">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="id_transaction">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element"> {{element.id_transaction}} </td>
            </ng-container>

            <ng-container matColumnDef="transaction_name">
                <th mat-header-cell *matHeaderCellDef> Nombre de la Venta </th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_name}}</td>
            </ng-container>

            <ng-container matColumnDef="transaction_date">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_date}} </td>
            </ng-container>

            <ng-container matColumnDef="transaction_amount">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_amount}} </td>
            </ng-container>

            <ng-container matColumnDef="fo_rose_type">
                <th mat-header-cell *matHeaderCellDef> Tipo de Rosa </th>
                <td mat-cell *matCellDef="let element"> {{element.fo_rose_type}} </td>
            </ng-container>

            <ng-container matColumnDef="transaction_rose_export">
                <th mat-header-cell *matHeaderCellDef>Tipo Exportación</th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_rose_export}} </td>
            </ng-container>

            <ng-container matColumnDef="transaction_customer">
                <th mat-header-cell *matHeaderCellDef>Comprador</th>
                <td mat-cell *matCellDef="let element"> {{element.transaction_customer}} </td>
            </ng-container>

            <ng-container matColumnDef="incomeActions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">

                    <a [routerLink]="['/portal/edit-income', element.id_transaction]"
                        routerLinkActive="router-link-active">
                        <button class="text-blue-700 px-2"><i class="fa-solid fa-pencil"></i></button>
                    </a>
                    <a>
                        <button (click)="delete(element)" class="text-red-700 px-2"><i
                                class="fa-solid fa-trash-can"></i></button>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>