.example-container {
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
  @apply dark:bg-gray-900;
}

[ea-header],
[ea-footer] {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.text-logo {
  font-family: "Cormorant", italic, "Times New Roman", Times, serif;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}
