.example-container {
    height: 100%;
    width: 100%;
    padding-top: 4rem;
    @apply dark:bg-gray-900;
}

@media (max-width: 780px){
    .example-container {
         padding-top: 6rem;
    }
}

[ea-header],
[ea-footer] {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: solid thin #ffffff;
}


.text-logo {
    font-family: 'Cormorant', italic, 'Times New Roman', Times, serif;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}