.example-container {
    height: 100%;
    width: 100%;
}

[ea-header],
[ea-footer] {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: solid thin #ffffff;
}


.text-logo {
    font-family: 'Cormorant', italic, 'Times New Roman', Times, serif;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
