<section ea-header class="dark:dark:bg-gray-900 shadow flex justify-between">


    <div class="flex gap-5">
        <button mat-mini-fab (click)="drawer().toggle()" color="secondary">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/" routerLinkActive="router-link-active">
            <div
                class="text-logo text-red-800 align-middle font-['Cormorant'] text-logo text-red-800 align-middle text-2xl">
                SiGef <i class="fa-solid fa-circle-dollar-to-slot"></i></div>
        </a>
    </div>
    <div ea-portal name="header-title" class="font-primary ">
    </div>

    <button routerLink="/login" class="primary-button">Login</button>


</section>