<section class="text-gray-600 body-font dark:bg-gray-900 ">
    <div class="container px-5 py-3 mx-auto flex flex-wrap justify-center items-center">
        <div class="lg:w-4/6 md:w-3/6 bg-gray-100 rounded-lg p-3 flex flex-col md:ml-20 w-full mt-1 md:mt-0">
            <div class="flex flex-col justify-center">
                <h2 class="text-center text-gray-900 text-xl font-medium title-font mb-5 font-primary">
                    <ea-portal-content name="header-title">
                        Categorías
                    </ea-portal-content>
                </h2>
                <div class="input-special flex flex-col mb-4">
                    <label for="category_name" class="text-sm font-semibold text-gray-700">Nombre</label>
                    <input parentCategories="text" id="category_name" name="category_name"
                        placeholder="Nombre de la categoría" aria-label="">
                </div>
            </div>
            <div class="flex justify-center flex-row gap-5">
                <button class="secundary-button-main">
                    Guardar
                </button>
                <button class="secundary-button">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</section>

<div class="dark:bg-gray-900 w-full h-full">

    <a routerLink="/portal/register-product" routerLinkActive="router-link-active">
        <button class="px-2 secundary-button ml-4"><i class="fa-solid fa-user-plus text-green-700"></i>
            Agregar</button> </a>

    <div class="flex justify-center flex-wrap mx-5">
        <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">

            <ng-container matColumnDef="id_category">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element"> {{element.id_category}} </td>
            </ng-container>

            <ng-container matColumnDef="category_name">
                <th mat-header-cell *matHeaderCellDef> Categoría </th>
                <td mat-cell *matCellDef="let element"> {{element.category_name}}</td>
            </ng-container>

            <ng-container matColumnDef="subcategories">
                <th mat-header-cell *matHeaderCellDef> Subcategorías </th>
                <td mat-cell *matCellDef="let element"> {{element.subcategory_name}} </td>
            </ng-container>

            <ng-container matColumnDef="catActions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">

                    <a [routerLink]="['/portal/edit-product', element.id_category]"
                        routerLinkActive="router-link-active">
                        <button class="text-blue-700 px-2"><i class="fa-solid fa-pencil"></i></button>
                    </a>
                    <a>
                        <button (click)="delete(element)" class="text-red-700 px-2"><i
                                class="fa-solid fa-trash-can"></i></button>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>