<div class="dark:bg-gray-900 w-full">
    <section class="text-gray-600 body-font relative">
        <div class="container px-5 py-16 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="font-primary">Contáctenos</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base font-secundary">
                    Uno se nuestros asesores se comunicará con usted en menos de 24 horas.
                </p>
            </div>
            <div class="lg:w-1/2 md:w-2/3 mx-auto font-['Wittgenstein']">
                <div class="flex flex-wrap -m-2">
                    <div class="p-2 w-1/2">
                        <div class="relative">
                            <label for="name" class="label-style dark:text-white">Nombre</label>
                            <input type="text" id="name" name="name" class="input-form">
                        </div>
                    </div>
                    <div class="p-2 w-1/2">
                        <div class="relative">
                            <label for="email" class="label-style">Email</label>
                            <input type="email" id="email" name="email" class="input-form">
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="message" class="label-style">Mensaje</label>
                            <textarea id="message" name="message" class="input-form h-32 resize-none"></textarea>
                        </div>
                    </div>
                    <div class="p-1 w-full">
                        <button class="flex mx-auto primary-button text-lg focus:outline-none ">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>