<section class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto">
        <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/3">
                <div class="card-style">
                    <h1 class="font-primary">Misión</h1>
                    <p class="leading-relaxed mb-3">Ofrecer un software intuitivo y eficiente que brinde a las empresas
                        de cultivo de rosas una
                        solución integral para la gestión financiera. Nuestro compromiso es proporcionar herramientas
                        versátiles y de fácil acceso que permitan administrar, analizar y controlar las operaciones
                        financieras, optimizando así la toma de decisiones estratégicas y asegurando un manejo efectivo
                        de los recursos.</p>
                </div>
            </div>
            <div class="p-4 lg:w-1/3">
                <div class="card-style">
                    <h1 class="font-primary">Visión</h1>
                    <p class="leading-relaxed mb-2">Ser el aliado de confianza para las empresas de cultivo de rosas,
                        destacando como la solución
                        líder en gestión financiera. Nos esforzamos por continuar desarrollando un software innovador,
                        adaptable y orientado a las necesidades cambiantes del sector, consolidando nuestra posición
                        como referente en el impulso del crecimiento económico y la eficiencia operativa en la industria
                        de la floricultura.</p>
                </div>
            </div>
            <div class="p-4 lg:w-1/3">
                <div class="card-style">
                    <h1 class="font-primary">Alcance</h1>
                    <p class="leading-relaxed mb-3">Si Ge f garantiza la seguridad y protección de datos,
                        cumpliendo con las normativas legales y brindando la posibilidad de exportar repor tes en
                        forma tos PDF para su fácil acceso y distribución . Con una interfaz int uitiva y amigable co n
                        el
                        usuario, que prop ende por la accesibilidad , el software será una herramienta fundamental para
                        mejorar la eficiencia en la gestión fin ancier a y el crecimiento de los negocios.</p>
                </div>
            </div>
        </div>
    </div>
</section>