@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
    font-family: 'Cormorant';
    src: url('/fonts/Cormorant_Infant/CormorantInfant-Bold.ttf');
    src: url('/fonts/Cormorant_Infant/CormorantInfant-BoldItalic.ttf');
    src: url('/fonts/Cormorant_Infant/CormorantInfant-Italic.ttf');
    src: url('/fonts/Cormorant_Infant/CormorantInfant-Light.ttf');
    src: url('/fonts/Cormorant_Infant/CormorantInfant-LightItalic.ttf');
    src: url('/fonts/Cormorant_Infant/CormorantInfant-Medium.ttf');
    src: url('/fonts/Cormorant_Infant/CormorantInfant-MediumItalic.ttf');
    src: url('/fonts/Cormorant_Infant/CormorantInfant-Regular.ttf');
    src: url('/fonts/Cormorant_Infant/CormorantInfant-SemiBold.ttf');
    src: url('/fonts/Cormorant_Infant/CormorantInfant-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Wittgenstein';
    src: url('/fonts/Wittgenstein/Wittgenstein-Italic-VariableFont_wght.ttf');
    src: url('/fonts/Wittgenstein/Wittgenstein-VariableFont_wght.ttf');
}

body {
    font-family: 'Wittgenstein', 'Times New Roman', Times, serif;
}

main {
    margin-top: -1rem;
}

.primary-button {
    @apply text-white bg-red-800 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded-xl text-sm font-['Cormorant'];
}

.secundary-button {
    @apply text-black bg-white border-2 border-red-800 py-1 px-8 focus:outline-none hover:text-white hover:bg-red-700 rounded-2xl text-sm mb-2 font-['Wittgenstein'];

}

.input-special {
    @apply flex items-center mb-4 w-full;

    >div {
        @apply bg-white p-2 rounded border border-gray-300;

        >i {
            @apply text-black w-full;
        }
    }

    >input {
        @apply w-full h-11 bg-white rounded border-t border-l border-b border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-sm outline-none text-gray-700 p-3 py-2 leading-8 transition-colors duration-200 ease-in-out;
    }
}

.input-form {
    @apply w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-700 focus:bg-white focus:ring-2 focus:ring-red-500 text-sm outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out
}

.font-primary {
    @apply sm:text-3xl text-2xl font-medium mb-4 text-gray-900 font-['Cormorant']
}

.font-secundary {
    @apply sm:text-lg mb-2 font-['Wittgenstein']
}

.label-style {
    @apply leading-7 text-sm text-gray-950
}

.card-style {
    @apply h-full bg-gradient-to-b from-red-300 to-red-600 px-6 py-6 rounded-lg overflow-hidden text-center relative
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body,
app-root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

router-outlet+* {
    width: 100%;
    height: 100%;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2rem;
}

table td,
table th {
    border: 1px solid #a72222;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table td {
    font-family: Wittgenstein;
}

.mat-mdc-header-cell {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #570f0f !important;
    color: white;
    font-family: Cormorant;
    font-size: 1.2rem;
}