@media (max-width: 640px) {
    .hide-on-small {
        display: none;
    }

    .responsive-button {
        font-size: 0.875rem;
    }

    .select-id {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .select-id {
        flex-direction: column;
    }
}