<section class="text-gray-600 body-font dark:bg-gray-900">
    <div class="container px-5 py-3 mx-auto flex flex-wrap justify-center items-center">
        <div class="hidden md:block lg:w-68 lg:h- md:w-52 md:pr-0 lg:pr-0 pr-0 text-center mb-2">
            <img src="img/bank.png" alt="Typing on laptop" class="grayscale dark:bg-gray-300 dark:rounded-lg">
        </div>
        <div class="lg:w-4/6 md:w-3/6 bg-gray-100 rounded-lg p-3 flex flex-col md:ml-20 w-full mt-1 md:mt-0">
            <div class="flex flex-col justify-center">
                <h2 class="text-center text-gray-900 text-xl font-medium title-font mb-5 font-primary">
                    Transacción
                </h2>
                <div class="input-special flex flex-col mb-4 font-secundary">
                    <label for="transactionName" class="text-sm font-semibold text-gray-700">Movimiento</label>
                    <input type="text" id="transactionName" name="transactionName" placeholder="Nombre del Movimiento"
                        aria-label="transactionName">
                </div>
                <div class="input-special flex flex-row mb-4 select-id font-secundary">
                    <label for="transactionType" class="text-sm font-semibold text-gray-700">Tipo </label>
                    <select name="transactionType" id="transactionType" class="input-form p-1 ml-2 mt-1" required>
                        <option value="income" autofocus>Ingreso</option>
                        <option value="expense">Egreso</option>
                    </select>
                    <label for="transactionDate" class="ml-2 text-sm font-semibold text-gray-700">Fecha</label>
                    <input type="date" id="transactionDate" name="transactionDate" placeholder="Nombre del Movimiento"
                        aria-label="transactionName" class="ml-2">
                </div>

                <div class="flex flex-row mb-4 select-id font-secundary">
                    <div class="input-special flex flex-col mb-4">
                        <label for="transactionAmount" class="text-sm font-semibold text-gray-700">Valor</label>
                        <input type="price" id="transactionAmount" name="transactionAmount" placeholder="Monto/Valor"
                            aria-label="transactionAmount">
                    </div>
                    <div class="input-special flex flex-col mb-4 font-secundary">
                        <label for="transactionRoseExport" class="text-sm font-semibold text-gray-700">
                            ¿De exportación?</label>
                        <div class="flex flex-row gap-2 bg-white">
                            <input type="radio" id="transactionRoseExport" name="transactionRoseExport"
                                aria-label="transactionRoseExport">
                            <label for="optionYes"> Yes</label>
                            <input type="radio" id="transactionRoseExport" name="transactionRoseExport"
                                aria-label="transactionRoseExport">
                            <label for="optionNo">No</label>
                            <input type="radio" id="transactionRoseExport" name="transactionRoseExport"
                                aria-label="transactionRoseExport">
                            <label for="optionNo">No Aplica</label>
                        </div>
                    </div>
                    <div class="input-special flex flex-col mb-4 font-secundary">
                        <label for="transactionRoseType" class="text-sm font-semibold text-gray-700">
                            Objeto
                        </label>
                        <select id="transactionRoseType" name="transactionRoseType" placeholder="ej. Rosa Mondial"
                            aria-label="transactionRoseType" class="input-form text-sm p-1 ml-2 mt-1">
                            @for (type of types; track type){
                            <option value="object">{{type}}</option>
                            }

                        </select>
                    </div>
                </div>
                <div class="input-special flex flex-col mb-4 font-secundary">
                    <label for="transactionCustomer" class="text-sm font-semibold text-gray-700">Comprador o
                        Proveedor</label>
                    <input type="text" id="transactionCustomer" name="transactionCustomer"
                        placeholder="ej. Infinity SAS" aria-label="transactionCustomer">
                </div>
                <div class="input-special flex flex-col mb-4 font-secundary">
                    <label for="transactionDescription" class="text-sm font-semibold text-gray-700">
                        Descripción del Movimiento</label>
                    <textarea id="transactionDescription" name="transactionDescription"
                        placeholder="Breve descripción del movimiento" aria-label="transactionDescription"
                        class="input-form h-32 resize-none"></textarea>
                </div>
                <button class="primary-button">
                    Continuar
                </button>

            </div>
        </div>
    </div>

</section>