.menu-content {
  transition: all 0.3s ease-in-out;
}

.menu-content.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

.menu-content.block {
  opacity: 1;
  transform: translateX(0);
}


a.navPage {
  font-family: 'Cormorant', italic, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

.text-logo {
  font-family: 'Cormorant', italic, 'Times New Roman', Times, serif;
  font-size: 2rem;
}